<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

  <!-- Launch parameter files -->
  <rosparam command="load" file="$(find aacas_motion)/config/live_flight_params.yaml"/>
  <rosparam command="load" file="$(find aacas_motion)/config/vector_field_planner_params.yaml"/>
  <rosparam command="load" file="$(find aacas_motion)/config/safety_params.yaml"/>

  <!-- Detection Launch File -->
  <include file="$(find aacas)/launch/aacas.launch" />

  <!-- DJI Launch File -->
  <include file="$(find dji_sdk)/launch/sdk.launch" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 world local 100" />


  <!-- Motion Controller Launch -->
  <node name="vectFieldPath" pkg="aacas_motion" type="vectFieldPath.py" /> 
  <node name="aacas_safety_checks" pkg="aacas" type="aacas_safety_checks.py" output="screen" /> 
  <arg name="move_start_delay" default="10.0" />  
  <!-- <node name="dji_pilot" pkg="aacas_motion" type="dji_pilot.py" launch-prefix="bash -c 'sleep $(arg move_start_delay); $0 $@' " output="screen" output="screen" />  -->


</launch>
