<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m600_pro">


    <xacro:macro name="chassis_mesh_geometry">
        <geometry>
            <mesh filename="file://$(find avc_urdf)/meshes/chassis2.DAE" scale="${chassisScale} ${chassisScale} ${chassisScale}"/>
         </geometry>
         <origin rpy="1.57 0 0" xyz="${chassisMeshXoffset} ${chassisMeshYoffset} ${chassisMeshZoffset}" />
	</xacro:macro>

	<xacro:macro name="box_geometry">
       <geometry>
            <box size = "${chassisL} ${chassisW} ${chassisH} "/>
        </geometry>
	</xacro:macro>

    <xacro:macro name="drone_cylinder">
        <geometry>
            <cylinder length="${chassisH}" radius="${chassisW/2-0.05}"/>
        </geometry>
        <!-- <origin rpy="0 0 0" xyz="0 0 0"/> -->
    </xacro:macro>

    <xacro:macro name="lidar_geometry">
        <geometry>
            <cylinder length="${lidarThick}" radius="${lidarRadius}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </xacro:macro>


</robot>
