<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m600_pro">

    <!-- X axis direction is forward, Y axis direction is left -->

    <!-- ______________Chassis parameters__________________________ -->
    <xacro:property name="chassisL" value="1.668" />
    <xacro:property name="chassisW" value="1.518" />
    <xacro:property name="chassisH" value="0.727" />

    <xacro:property name="chassisXoffset" value="0.0" />
    <xacro:property name="chassisYoffset" value="0.0" />
    <xacro:property name="chassisZoffset" value="0.0" />
    <!-- <xacro:property name="chassisZoffset" value="0.55" /> -->


    <xacro:property name="chassisMass" value="1"/>
    <xacro:property name="chassisIxx" value="0.4"/>
    <xacro:property name="chassisIxy" value="0.4"/>
    <xacro:property name="chassisIyy" value="0.4"/>
    <xacro:property name="chassisIxz" value="0.0"/>
    <xacro:property name="chassisIyz" value="0.0"/>
    <xacro:property name="chassisIzz" value="0.0"/>

    <xacro:property name="chassisScale" value="1"/>

    <xacro:property name="chassisMeshXoffset" value="0.000"/>
    <xacro:property name="chassisMeshYoffset" value="0.000"/>
    <xacro:property name="chassisMeshZoffset" value="-${chassisZoffset}"/> 
    <!-- <xacro:property name="chassisMeshZoffset" value="0.0"/>  -->

</robot>
