<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find dji_m600_sim)/urdf/m600_pro.xacro"/>
  <arg name="rvizconfig" default="$(find dji_m600_sim)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />



  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Gazebo Launch commands -->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
    <!-- <arg name="world_name" value="$(find dji_m600_sim)/worlds/sphere_collision.world"/> -->
    <!-- <arg name="debug" value="$(arg debug)" /> -->
    <!-- <arg name="gui" value="$(arg gui)" /> -->
    <!-- <arg name="paused" value="$(arg paused)"/> -->
    <!-- <arg name="use_sim_time" value="$(arg use_sim_time)"/> -->
    <!-- <arg name="headless" value="$(arg headless)"/> -->
  <!-- </include> -->

  <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-unpause -urdf -model robot -param robot_description" respawn="false" output="screen" /> -->


  <!-- RVIZ Launch Commands -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node pkg="dji_m600_sim" type="obstacle_visualize_python.py" name="marker_displayer" output="screen"/>


</launch>
